<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>backCreditsB.png</key>
		<dict>
			<key>frame</key>
			<string>{{204, 1}, {202, 121}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {202, 121}}</string>
			<key>sourceSize</key>
			<string>{202, 121}</string>
		</dict>
		<key>backCreditsR.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {202, 121}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {202, 121}}</string>
			<key>sourceSize</key>
			<string>{202, 121}</string>
		</dict>
		<key>creditsBackground.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 123}, {961, 640}}</string>
			<key>offset</key>
			<string>{0, -0.5}</string>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {961, 640}}</string>
			<key>sourceSize</key>
			<string>{961, 641}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>
