<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>gameBackground.png</key>
		<dict>
			<key>frame</key>
			<string>{{0, 621}, {1024, 768}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1024, 768}}</string>
			<key>sourceSize</key>
			<string>{1024, 768}</string>
		</dict>
		<key>iPadBackground.png</key>
		<dict>
			<key>frame</key>
			<string>{{1024, 621}, {1024, 768}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1024, 768}}</string>
			<key>sourceSize</key>
			<string>{1024, 768}</string>
		</dict>
		<key>iPadOptions.png</key>
		<dict>
			<key>frame</key>
			<string>{{915, 0}, {1023, 621}}</string>
			<key>offset</key>
			<string>{0.5, 7.5}</string>
			<key>sourceColorRect</key>
			<string>{{1, 23}, {1023, 621}}</string>
			<key>sourceSize</key>
			<string>{1024, 682}</string>
		</dict>
		<key>iPadScoresCloud.png</key>
		<dict>
			<key>frame</key>
			<string>{{0, 0}, {915, 587}}</string>
			<key>offset</key>
			<string>{-28.5, 4}</string>
			<key>sourceColorRect</key>
			<string>{{26, 44}, {915, 587}}</string>
			<key>sourceSize</key>
			<string>{1024, 683}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
	</dict>
</dict>
</plist>
