<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BB.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {26, 27}}</string>
			<key>offset</key>
			<string>{0, 0.5}</string>
			<key>sourceColorRect</key>
			<string>{{2, 1}, {26, 27}}</string>
			<key>sourceSize</key>
			<string>{30, 30}</string>
		</dict>
		<key>basketv5.png</key>
		<dict>
			<key>frame</key>
			<string>{{28, 1}, {50, 87}}</string>
			<key>offset</key>
			<string>{0, 0.5}</string>
			<key>sourceColorRect</key>
			<string>{{6, 1}, {50, 87}}</string>
			<key>sourceSize</key>
			<string>{62, 90}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{256, 128}</string>
	</dict>
</dict>
</plist>
