<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BB.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {14, 14}}</string>
			<key>offset</key>
			<string>{-0.5, 0.5}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {14, 14}}</string>
			<key>sourceSize</key>
			<string>{15, 15}</string>
		</dict>
		<key>basketv5.png</key>
		<dict>
			<key>frame</key>
			<string>{{16, 1}, {25, 44}}</string>
			<key>offset</key>
			<string>{0, 0.5}</string>
			<key>sourceColorRect</key>
			<string>{{3, 0}, {25, 44}}</string>
			<key>sourceSize</key>
			<string>{31, 45}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{128, 64}</string>
	</dict>
</dict>
</plist>
